USE [master]
GO
/****** Object:  Database [KendoUIDb]    Script Date: 20.05.2021 14:21:12 ******/
CREATE DATABASE [KendoUIDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KendoUIDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KendoUIDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KendoUIDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KendoUIDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KendoUIDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KendoUIDb]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 20.05.2021 14:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](250) NOT NULL,
	[NotificationDate] [datetime2](7) NOT NULL,
	[SolutionDate] [datetime2](7) NOT NULL,
	[JobOwner] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 20.05.2021 14:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[ParentMenuID] [int] NULL,
	[Link] [nvarchar](max) NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobId], [JobName], [NotificationDate], [SolutionDate], [JobOwner]) VALUES (2, N'Job2', CAST(N'2021-05-10T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-06T00:00:00.0000000' AS DateTime2), N'Sümeyye')
INSERT [dbo].[Jobs] ([JobId], [JobName], [NotificationDate], [SolutionDate], [JobOwner]) VALUES (6, N'Job5', CAST(N'2021-12-04T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-04T00:00:00.0000000' AS DateTime2), N'Salih')
INSERT [dbo].[Jobs] ([JobId], [JobName], [NotificationDate], [SolutionDate], [JobOwner]) VALUES (7, N'Job4', CAST(N'2021-12-04T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-04T00:00:00.0000000' AS DateTime2), N'Sümeyye Kula')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuID], [ParentMenuID], [Link], [Title]) VALUES (1, NULL, N'../Home/Index', N'Anasayfa')
INSERT [dbo].[Menu] ([MenuID], [ParentMenuID], [Link], [Title]) VALUES (2, NULL, NULL, N'Inbox')
INSERT [dbo].[Menu] ([MenuID], [ParentMenuID], [Link], [Title]) VALUES (3, 2, N'../Home/GridView', N'Acil İşler')
SET IDENTITY_INSERT [dbo].[Menu] OFF
USE [master]
GO
