@using Kendo.Mvc.UI
@using KendoUIApp.ViewModel
@{
    ViewBag.Title = "Home Page";
}
<label>
    KendoUI Anasayfa:
</label>
<br />
<span>
  
    Kendo UI grid görüntülemek için menüden inbox => acil işler e tıklayınız...

</span>